#aboutPages{
  margin: auto;
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}
#about-name{
  text-align: center;
  font-size: 6rem;
  width: 100%;
}
#badgeContainer{
  /* border: solid 2px olive; */
  width: 80%;
  margin: 10px auto 150px auto;
  /* display: inline-block; */
  /* text-align: justify; */
}

.aboutP-One{
  text-align: center;
  width: 60%;
  margin: auto;
}
.aboutP-Two{
  font-size: 6rem;
  text-align: center;
  width: 60%;
  margin: 30px auto;
}

.badgeImg{
  /* display: flex; */
  margin: auto;
  padding: 5px;
  width: 60px;
  /* height: 60px; */
}
