#Home{
  /* background-color: #f1f1f1; */
}
#HomeHeader{
  text-align: center;
  font-size: 3rem;
  margin: 30px auto;
}
#SpriteContainer {
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  /* width: 100%; */
  /* background-color: DodgerBlue; */
}
