#Home{
  /* background-color: #f1f1f1; */
  margin: auto auto 50px auto;
}
#HomeHeader{
  text-align: center;
  /* font-size: 3rem; */
  /* font-weight: 900; */
  margin: 30px auto;
  /* letter-spacing: 1.5rem; */
  /* text-decoration: underline; */
  /* text-transform: uppercase; */
}
#HomeHeader img{
  width: 55%;
}
#SpriteContainer {
  text-transform: capitalize;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  /* width: 100%; */
  /* background-color: DodgerBlue; */
}
