.navDiv{
  max-width: 100%;
  margin: 5px 5px 15px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 30px;
  text-align: center;
}
#navSites{
  background-color: rgb(222, 69, 84);
  padding: 20px;
  margin: 0;
}
.navDiv:nth-of-type(1){
  border-bottom: solid lightgray 2px;
  padding-bottom: 6px;
}
.navChoices{
  margin: auto;
  padding: 2px 12px;
}
.navChoices:hover{
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}
.navChoices a{
  padding: 3px 12px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: white;
  letter-spacing: 0.4rem;
  font-weight: 100;
}
#Nav{
  max-width: 100%;
  display: block;
}
.nav-tag{
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  /* display: flex; */
  width: 85px;
  flex-wrap: wrap;
  margin: auto;
  padding: 4px;
  border-radius: 8px;
  opacity: 0.9;
}
.nav-tag:hover{
  opacity: 1;
  filter: brightness(1.5);
}
.nav-tag:visited{
  outline-style: solid;
  outline-color: pink;
}
