#TempDisplayDiv{
  width: 100%;
  height: 95%;
  overflow-y: auto;
  background-color: rgb(255,255,255);
  position: fixed;
  margin: auto;
  top: 2.5%;
}
#closeTemp-btn{
  font-size: 1.2rem;
  letter-spacing: 9px;
  width: 100%;
  outline: none;
  border: white solid 1px;
  height: 60px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.tempName{
  margin: 10px auto;
  text-align: center;
  text-transform: capitalize;
}

.gray_italic_text{
  color: lightslategray;
  font-style: italic;
  font-size: 1rem;
  font-weight: 100;
}

.headerDisplayDiv{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}
.temp-sprites{
  margin: 0 auto;
}
.temp-sprites img{
  margin: 0 auto;
}
.mainDisplayDiv{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.mainSprite{
  margin: auto;
}
.mainSprite img{
  background-color: rgba(0,0,0,0.8);
}
.mainInfo{
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  height: 100%;
  margin: auto;
  display: block;
  flex-wrap: wrap;
}
.mainTr{
  margin: 0 auto;
  width: 100%;
}
.pokedexHeader{
  border-bottom: 1px lightgray solid;
  text-align: center;
}
.info-left{
  border-bottom: 1px lightgray solid;
  margin: 0 auto;
  text-align: right;
  font-weight: 100;
}
.info-right{
  text-transform: capitalize;
  border-bottom: 1px lightgray solid;
  text-align: left;
}

.temp-type{
  text-transform: capitalize;
  cursor: pointer;
  text-align: center;
  width: 80px;
  flex-wrap: wrap;
  padding: 4px;
  border-radius: 8px;
}

.ability{
  color:dodgerblue;
  display: block;
}
.hidden-ability{
  display: block;
  color:lightgray;
  font-style: italic;
}
.statsDiv{
  width: 100%;
  margin: 0 auto;
}
.tempName-stat{
  /* margin: auto; */
}
#statTable{
  margin: 0 auto;
  width: 98%;
}
.stat-data{
  margin: 0 auto;
  width: 3%;
}
.statHeaders{
  width: 5%;
}
.bar{
  width: 95%;
  border-bottom: 1px solid lightgray;
}
.movesDiv{
  width: 90%;
  margin: auto;
}
.movesLvlDiv{
  width: 100%;
  margin: auto;
}
.pokemonTableHeaders-move{
  cursor: default;
  font-size: 1.2rem;
  font-weight: 900;
  width: 300px;
  margin: auto;
  border-bottom: 1px solid black;
}
.pokemonTableTR:hover{
  background-color: beige;
}
